.edition-menu {
  z-index: 1;
  transform: translateY(-1px);
  font-family: "Work Sans";
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  background-color: black;
  color: white;
  .fa-pen-to-square {
    padding-right: 9px;
  }
}
.mode-edition {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modifier-button {
  color: black;
  height: 14px;
  margin: 11px 0 10px 0;
  background-color: white;
  font-family: "work sans";
  padding: 0 23px;
  border: none;
  cursor: pointer;
  display: none;
}
